<%= render :partial => 'global/header' %>

  <div id="main">
    <%= render :partial => 'sidebar' %>

  	<article>
  		<header>article header</header>
  		<section>article content</section>
  		<footer>article footer</footer>
  	</article>

    <%= render :partial => 'global/footer' %>
  </div>
